<div class="h-[84vh] w-full bg-[#E6E6D9] pl-10 pr-10">
    <p class="font-bold flex justify-center p-10 text-4xl">SERVICIO A DOMICILIO</p>

    <div class="grid grid-cols-2">
        <div class="mt-32 mr-16 ml-20">
            <h1 class=" text-3xl flex justify-center text-[4vh]">Ordena para llevar</h1>
            <p class="font-light text-[2.3vh] text-center flex justify-center mt-2">Nuestro servicio de alimentos esta equipado también para domicilio, en 
                caso que no puedas acceder al comedor, enviamos un repartidor sin 
                costo para enviarte tu desayuno o cena a tu hogar</p>
                <div class="flex justify-center mt-6">
                    <button class="bg-[#F2F3DF] px-14 py-2 text-[3vh] rounded-2xl
                    shadow-[13px_12px_7px_-6px_rgba(0,0,0,0.18)]" (click)="ordenar()">Ordenar</button>
                    </div>
        </div>

        <div class="mt-28">
            <img src="./assets/decorations/moto.png" class="h-72 ml-32" alt="">
        </div>
    </div>
</div>