<div class="h-[84vh] w-full bg-[#E6E6D9]">
    <h1 class="flex justify-center pr-3 font-bold text-[#8e3c3c] text-2xl">Bienvenido: {{usuario}}</h1>
    <div class="flex justify-end mr-3 cursor-pointer" routerLink="/">
        <h2 class="flex justify-end pr-2 font-bold text-red-700 mt-1 hover:text-[#2e3190]">Cerrar Sesión</h2>
        <img src="./assets/decorations/cerrar.png" alt="" class="flex h-9">
    </div>

    <div class="pt-[7vh] flex justify-around">
        <div class="pl-36 pr-16 text-justify mt-10">
        <p class="text-4xl text-center text-[#756556] font-semibold" id="texto">“Consume en mi puesto para irte con el estomago contento”</p>
        <p class="mt-4 text-[#968D84] text-[3vh] leading-tight">Consume los mejores alimentos en nuestro comedor cerca de tu localidad, si no 
            quieres salir de tu casa puedes hacer tu pedido a través de esta pagina, al dia 
            se hacen actualización de platillos</p>
        <h1 class="flex justify-center mt-7 text-[#968D84] font-bold text-2xl">HORARIO DE ATENCIÓN</h1>
        <p class="text-[#968D84] flex justify-center mb-2 text-2xl">Lunes - Viernes 6:30 - 13:00        |        19:00 - 20:30 HRS</p>
        <h3 class="text-[#BEA085] justify-center flex text-2xl mt-1" id="telefono">9711084722</h3>
        </div>
        
            <img src="./assets/decorations/hamburguesa.png" class="h-[48vh] pr-32" alt="">
        
    </div>
</div>